* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
}
textarea,
input {
    border: 1px solid #bbb;
    background-color: transparent;
    font-size: 16px;
    padding: 10px;
}

textarea,
input:focus-visible {
    outline: none;
}

button {
    border: 1px solid #bbb;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono Bold'), local('JetBrainsMono-Bold'),
        url('./assets/fonts/JetBrainsMono-Bold.woff2') format('woff2'),
        url('./assets/fonts/JetBrainsMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono Regular'), local('JetBrainsMono-Regular'),
        url('./assets/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
        url('./assets/fonts/JetBrainsMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
